#include <crails/cms/models/settings.hpp>
#include <crails/cms/views/style.hpp>
#include <crails/i18n.hpp>
#include <crails/captcha/default.hpp>
#include "app/models/contact_page.hpp"

const Crails::Cms::Settings& @settings;
const Crails::Cms::Style& style = settings.get_style();
const ContactPage& @contact_page;
const std::string @sender = std::string();
const std::string @message = std::string();
const std::string @error_message = std::string();
const std::string @captcha_field = std::string();
bool @failure = false;

// END LINKING
<%= style.section(0, {{"class","contact-content"}}) yields %>
  <h1>Contact</h1>
  <% if (contact_page.get_content().length()) do %>
    <%= contact_page.get_content() %>
  <% end %>
<% yields-end %>

<%= style.section(1, {{"class","contact-form"}}) yields %>
  <% if (failure) do %>
    <div class="error">
      <%= error_message %>
    </div>
  <% end %>

  <%= form({{"action", "/contact"}, {"method", "POST"}}) yields %>
    <%= style.form_group() yields %>
      <label for="contact[email]">
        <%= i18n::t("contact-page.form.email") %>
      </label>
      <%= mail_field("contact[email]", sender) %>
    <% yields-end %>

    <%= style.form_group() yields %>
      <label for="contact[message]">
        <%= i18n::t("contact-page.form.message") %>
      </label>
      <%= text_area("contact[message]", message) %>
    <% yields-end %>

    <% if (captcha_field.length() > 0) do -%>
      <%= style.form_group() yields %>
        <label><%= i18n::t("contact-page.form.captcha") %></label>
        <%= captcha_field %>
      <% yields-end %>
    <% end -%>

    <%= tag("input", {
      {"type","submit"},
      {"class",style.button_classes()},
      {"value", i18n::t("contact-page.form.submit")}
    }) %>
  <% yields-end %>
<% yields-end %>
